openapi: 3.0.3
info:
  title: Code247 API
  version: 1.0.0
  description: |
    Code247 intake/execution API with Linear OAuth/webhook integration.
servers:
  - url: https://code247.logline.world
  - url: http://localhost:4001

tags:
  - name: System
  - name: Jobs
  - name: OAuth
  - name: Intentions
  - name: Linear

paths:
  /health:
    get:
      tags: [System]
      summary: Health check
      responses:
        '200':
          description: Service healthy
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseEnvelopeBase'
                  - type: object
                    properties:
                      status: { type: string }
                      engine: { type: string }

  /jobs:
    get:
      tags: [Jobs]
      summary: List recent jobs
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Job list
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseEnvelopeBase'
                  - type: object
                    properties:
                      jobs:
                        type: array
                        items:
                          type: object
                          additionalProperties: true
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
    post:
      tags: [Jobs]
      summary: Create job
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateJobRequest'
      responses:
        '201':
          description: Job created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseEnvelopeBase'
                  - type: object
                    properties:
                      job_id: { type: string }
                      status: { type: string }
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'

  /oauth/start:
    get:
      tags: [OAuth]
      summary: Start Linear OAuth flow
      responses:
        '307':
          description: Redirect to Linear authorize URL
        '501':
          $ref: '#/components/responses/Error501'

  /oauth/callback:
    get:
      tags: [OAuth]
      summary: Linear OAuth callback
      parameters:
        - in: query
          name: code
          schema: { type: string }
        - in: query
          name: state
          schema: { type: string }
        - in: query
          name: error
          schema: { type: string }
      responses:
        '200':
          description: OAuth connected
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseEnvelopeBase'
                  - type: object
                    properties:
                      connected: { type: boolean }
                      expires_at: { type: string, format: date-time }
                      scope: { type: string, nullable: true }
        '400':
          $ref: '#/components/responses/Error400'
        '502':
          $ref: '#/components/responses/Error502'

  /oauth/status:
    get:
      tags: [OAuth]
      summary: OAuth configuration/connection status
      responses:
        '200':
          description: OAuth status
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseEnvelopeBase'
                  - type: object
                    properties:
                      configured: { type: boolean }
                      connected: { type: boolean }
                      token_type: { type: string, nullable: true }
                      scope: { type: string, nullable: true }
                      expires_at: { type: string, nullable: true }

  /intentions:
    post:
      tags: [Intentions]
      summary: Ingest intentions and sync to Linear
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntentionIntakeRequest'
      responses:
        '200':
          description: Intention ingestion result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntentionIntakeResponse'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '409':
          $ref: '#/components/responses/Error409'
        '502':
          $ref: '#/components/responses/Error502'

  /intentions/sync:
    post:
      tags: [Intentions]
      summary: Sync execution status/evidence back to Linear
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntentionSyncRequest'
      responses:
        '200':
          description: Sync result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntentionSyncResponse'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '502':
          $ref: '#/components/responses/Error502'

  /intentions/{workspace}/{project}:
    get:
      tags: [Intentions]
      summary: Read latest linkage snapshot for workspace/project
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: workspace
          required: true
          schema: { type: string }
        - in: path
          name: project
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Snapshot
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntentionSnapshotResponse'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'

  /webhooks/linear:
    post:
      tags: [Linear]
      summary: Receive Linear webhook deliveries
      parameters:
        - in: header
          name: Linear-Delivery
          required: true
          schema: { type: string }
        - in: header
          name: Linear-Signature
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Delivery accepted/deduped
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseEnvelopeBase'
                  - type: object
                    properties:
                      accepted: { type: boolean }
                      deduped: { type: boolean }
                      delivery_id: { type: string }
                      status: { type: string }
                      issue_id: { type: string, nullable: true }
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  responses:
    Error400:
      description: Validation error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
    Error401:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
    Error403:
      description: Forbidden (scope/project authorization failed)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
    Error409:
      description: Conflict
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
    Error502:
      description: Upstream failure
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
    Error501:
      description: Not implemented
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'

  schemas:
    ResponseEnvelopeBase:
      type: object
      required: [request_id, output_schema]
      properties:
        request_id: { type: string }
        output_schema:
          type: string
          const: https://logline.world/schemas/response-envelope.v1.schema.json

    ErrorEnvelope:
      type: object
      required: [request_id, output_schema, error]
      properties:
        request_id: { type: string }
        output_schema:
          type: string
          const: https://logline.world/schemas/error-envelope.v1.schema.json
        error:
          type: object
          required: [type, code, message]
          properties:
            type: { type: string }
            code: { type: string }
            message: { type: string }
            details:
              type: object
              additionalProperties: true

    CreateJobRequest:
      type: object
      required: [issue_id, payload]
      properties:
        issue_id: { type: string }
        payload: { type: string }

    IntentionTask:
      type: object
      required: [description]
      properties:
        description: { type: string }
        owner: { type: string, nullable: true }
        due: { type: string, nullable: true }
        gate: { type: string, nullable: true }

    IntentionRecord:
      type: object
      required: [id, title]
      properties:
        id: { type: string }
        title: { type: string }
        type: { type: string, nullable: true }
        scope: { type: string, nullable: true }
        priority: { type: string, nullable: true }
        tasks:
          type: array
          items:
            $ref: '#/components/schemas/IntentionTask'

    IntentionManifest:
      type: object
      required: [workspace, project, updated_at, intentions]
      properties:
        workspace: { type: string }
        project: { type: string }
        updated_at: { type: string, format: date-time }
        intentions:
          type: array
          items:
            $ref: '#/components/schemas/IntentionRecord'

    IntentionIntakeRequest:
      type: object
      required: [manifest, source]
      properties:
        manifest:
          $ref: '#/components/schemas/IntentionManifest'
        source: { type: string }
        revision: { type: string, nullable: true }
        ci_target: { type: string, nullable: true }

    IntentionLink:
      type: object
      required: [id, issue_id, board]
      properties:
        id: { type: string }
        issue_id: { type: string }
        board: { type: string }

    IntentionIntakeResponse:
      allOf:
        - $ref: '#/components/schemas/ResponseEnvelopeBase'
        - type: object
          properties:
            deduped: { type: boolean }
            linear:
              type: object
              properties:
                intentions:
                  type: array
                  items:
                    $ref: '#/components/schemas/IntentionLink'
            ci:
              type: object
              properties:
                jobs:
                  type: array
                  items: { type: string }
                queue_id: { type: string }

    IntentionSyncRequest:
      type: object
      required: [workspace, project, results]
      properties:
        workspace: { type: string }
        project: { type: string }
        results:
          type: array
          items:
            type: object
            required: [intention_id, status]
            properties:
              intention_id: { type: string }
              status: { type: string }
              summary: { type: string, nullable: true }
              set_done_on_success: { type: boolean, nullable: true }
              ci:
                type: object
                nullable: true
                properties:
                  queue_id: { type: string, nullable: true }
                  job: { type: string, nullable: true }
                  url: { type: string, nullable: true }
              evidence:
                type: array
                items:
                  type: object
                  required: [label, url]
                  properties:
                    label: { type: string }
                    url: { type: string }

    IntentionSyncResponse:
      allOf:
        - $ref: '#/components/schemas/ResponseEnvelopeBase'
        - type: object
          properties:
            workspace: { type: string }
            project: { type: string }
            synced:
              type: array
              items:
                type: object
                additionalProperties: true
            errors:
              type: array
              items:
                type: object
                additionalProperties: true

    IntentionSnapshotResponse:
      allOf:
        - $ref: '#/components/schemas/ResponseEnvelopeBase'
        - type: object
          properties:
            workspace: { type: string }
            project: { type: string }
            ingestion:
              type: object
              additionalProperties: true
            links:
              type: array
              items:
                $ref: '#/components/schemas/IntentionLink'
